[user]
	name = Gavin McDonald
	email = gavinmcdoh@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore
	pager = less -x1,5
[color]
	ui = true
[format]
	pretty = oneline
[alias]
	st = status -sb
	cm = commit
	co = checkout
	br = branch
	wdiff = diff --word-diff=color
	wshow = show --word-diff=color

	lg = log --color --graph --date=short --pretty=format:'%Cred%h%Creset %Cgreen[%ad] -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	slog = log --pretty=format:"%C(auto,yellow)%h%C(auto)%d\\ %C(auto,reset)%s\\ \\ [%C(auto,blue)%cn%C(auto,reset),\\ %C(auto,cyan)%ar%C(auto,reset)]"
	glog = log --graph --pretty=format:"%C(auto,yellow)%h%C(auto)%d\\ %C(auto,reset)%s\\ \\ [%C(auto,blue)%cn%C(auto,reset),\\ %C(auto,cyan)%ar%C(auto,reset)]"
	gflog = log -p --cc --graph --decorate
	wtf = log --pretty=format:"%C(auto,yellow)%h%C(auto)%d%C(auto,reset)\\ by\\ %C(auto,blue)%cn%C(auto,reset),\\ %C(auto,cyan)%ar%C(auto,reset)%n\\ %s%n" --stat
[help]
	autocorrect = 1
[push]
	default = simple
[diff]
	algorithm = patience
